Localization
{
	zh-cn
	{
		//		Atar 101D
		#roRO-Atar101DTitle = Atar 101D 涡喷发动机
		#roRO-Atar101DDesc = 阿塔 101 是二战后法国最早研制的喷气发动机之一，曾装备 Vautour I/II、Gerfaut I 与 Mystère II 等多种早期法国喷气式飞机。本型为 101D，是达索 Mystère IIC 所使用的早期型号。1954 年可用。推力 29.42 kN。总压比 4.5，静态燃油消耗率 1.09 lb/lbf-hr。受温度限制，最高工作在马赫 1.5。
		//		Derwent V
		#roRO-DerwentVTitle = Derwent V/RD-500 涡喷发动机
		#roRO-DerwentVDesc = 德文特 V 并非德文特系列的后续型号（该系列是 W.2 的直流式发展型号），而是一台缩小的尼恩（Nene）。它曾装备流星 F.4（Meteor F.4），其苏联仿制型号 RD-500 则用于拉-15（La-15）、雅克-23 与雅克-25。推力 15.6 kN。1945 年中后期可用。总压比 4.0，静态燃油消耗率 1.03 lb/lbf-hr。受温度限制，最高工作在马赫 1。
		//		J35-A-11
		#roRO-J35Title = J35-A-11 涡喷发动机
		#roRO-J35Desc = 艾里逊/通用电气 J35 是一台轴流式涡喷发动机，也是美国最早自行设计的涡喷发动机之一。虽然知名度不及其后继型号 J47，它仍装备了 FJ-1、F-84、F-89、XP-86、XB-45、XB-47、X-5 与 D-558 等众多 40 年代末期飞机。本型为 -11，用于道格拉斯 D-558-1。1946 年可用。推力 16.68 kN。总压比 4.0，静态燃油消耗率 1.12 lb/lbf-hr。受温度限制，最高工作在马赫 1。
		//		J47-GE-27
		#roRO-J47Title = J47-GE-27 涡喷发动机
		#roRO-J47Desc = 通用电气 J47 是一台轴流式涡喷发动机，与 J35 并行研制而来，同期还发展了基于英国设计的离心式喷气发动机。J47 非常成功，装备了 F-86、FJ-2、XF-87、XF-91、B-36、B-45、B-47、XB-51、KB-50、KB-97 等众多 50 年代初期飞机，甚至包括 M-497 喷气动力轨道车。本型为 -27，是 F-86F 使用的后期型号。1952 年可用。推力 26.47 kN。总压比 5.5，静态燃油消耗率 0.902 lb/lbf-hr。受温度限制，最高工作在马赫 1。
		//		VK-1
		#roRO-VK1Title = VK-1 涡喷发动机
		#roRO-VK1Desc = 尼恩（Nene）的苏联仿制改进型号。1946 年英国政府向苏联出售了数台尼恩与德文特发动机，随后被逆向仿制，装备于米格-15、米格-17、伊尔-28 等众多早期苏联喷气式飞机。VK-1 是改进型号，用于米格-15比斯。1949 年可用。推力 26.47 kN。总压比 4.4，静态燃油消耗率 1.049 lb/lbf-hr。受温度限制，最高工作在马赫 1。
	}
}
