Localization
{
	zh-cn
	{
		//	jet engine description format:
		//	short description/history, uses. Use of specific variant. Available year. thrust wet, dry. OPR SFC. Temperature limit.
		
		//	============================================================================
		//	Stock AJE Parts
		//	============================================================================
		//	Engines which just need renamed or models adjusted for use in RO/RP-1
		//	aje already has localizations, but we modify or clone many of their engines, so the localizations
		//	need to be changed correspondingly
		
		//		AL-31FM
		
		//		Atar 9K-50
		
		//		Avon RB-146 Mk.302
		
		//		F100-PW-229
		
		//		F404-GE-402
		
		//		J57-P-21
		
		//		J58-P-4
		
		//		J75-P-17
		
		//		J79-GE-17
		
		//		J85-GE-4
		#roaje_j85Desc = J85 最初作为小型一次性喷气发动机研制，用于驱动诱饵弹与无人机，后经升级用于有人驾驶飞机。它装备了 F-5、CF-5、G.91Y、T-2、T-38 与 A-37 等多种小型飞机。本型为 -4 型号，用于 T-2C 巴凯（Buckeye）。1958 年可用。推力 13.1 kN。总压比 6.1，静态燃油消耗率 0.980 lb/lbf-hr。受温度限制，最高工作在马赫 1.3。
		
		//	============================================================================
		//	New AJE Parts
		//	============================================================================
		//	New engines created for RO/RP-1
		
		//		AL-7F
		#roRO-AL7FTitle = AL-7F 涡喷发动机
		#roRO-AL7FDesc = 50 年代早期的涡喷发动机，是苏-7、苏-9、苏-11、图-128 与别-10 水上飞机的动力装置。本型为早期带加力的 -7F 型号，装备了苏-7 原型机。1955 年可用。加力推力 88.8 kN，干推力 66.7 kN。总压比 9.5，静态燃油消耗率 0.97/2.25 lb/lbf-hr。受温度限制，最高工作在马赫 1.85。
		
		//		Atar 09B
		#roRO-Atar09BTitle = Atar 09B 涡喷发动机
		#roRO-Atar09BDesc = 50 年代末对阿塔 101 的重新设计，通过增大推力（衍生出阿塔 08）并加装加力燃烧室（衍生出阿塔 09）而来。这些改进型号装备了下一代法国喷气式飞机，包括军旗 IV、超军旗、幻影 III/IV 与幻影 F1。阿塔 09B 是用于幻影 IIIA 的早期型号。1959 年可用。加力推力 58.8 kN，干推力 40.9 kN。总压比 5.2，静态燃油消耗率 1.01/2.03 lb/lbf-hr。受温度限制，最高工作在马赫 2.0。
		
		//		Avon RA.4 Mk.107
		#roRO-Avon107Title = Avon RA.4 Mk.107 涡喷发动机
		#roRO-Avon107Desc = 埃文（Avon）是罗尔斯·罗伊斯首台轴流式涡喷发动机，1950 年问世。它装备了 20 世纪 50、60 年代大部分英国飞机，包括海雌狐、堪培拉、闪电、猎人、雨燕与勇士。RA.4 是 50 年代初期的型号，装备早期霍克"猎人"。1951 年可用。推力 33.4 kN。总压比 7.0，静态燃油消耗率 0.883 lb/lbf-hr。受温度限制，最高工作在马赫 1.5。
		
		//		Avon RA.24R Mk.200R
		#roRO-Avon200Title = Avon RA.24R Mk.200R 涡喷发动机
		#roRO-Avon200Desc = 埃文是罗尔斯·罗伊斯首台轴流式涡喷发动机，1950 年问世。它装备了 20 世纪 50、60 年代大部分英国飞机，包括海雌狐、堪培拉、闪电、猎人、雨燕与勇士。RA.24R 是 60 年代初期的型号，装备英国电气"闪电"F.1。1960 年可用。加力推力 63.9 kN，干推力 50.0 kN。总压比 7.8，静态燃油消耗率 0.88/1.9 lb/lbf-hr。受温度限制，最高工作在马赫 2.5。
		
		//		D-30F6
		#roRO-D30F6Title = D-30F6 涡扇发动机
		#roRO-D30F6Desc = 低涵道比加力涡扇发动机，用于米格-31 与苏-47。1982 年可用。加力推力 152 kN，干推力 93.2 kN。总压比 21.2，静态燃油消耗率 0.72/1.86 lb/lbf-hr。受温度限制，最高工作在马赫 2.9。
		
		//		J48-P-5
		#roRO-J48Title = J48-P-5 涡喷发动机
		#roRO-J48Desc = J48 又名罗尔斯·罗伊斯"泰"（Tay）。它本质上是一台放大的尼恩，罗尔斯·罗伊斯为优先发展埃文而放弃了它；普惠随后获得了该设计并量产为 J48。J48 曾装备 F9F-5 黑豹、F9F-6/8 美洲狮、F-94C 星火与 YF-93。本型为带加力的 -5 型号，用于 F-94C。1950 年可用。加力推力 38.9 kN，干推力 28.2 kN。总压比 4.4，静态燃油消耗率 1.16 lb/lbf-hr。受温度限制，最高工作在马赫 1。
		
		//		J57-P-8
		#roRO-J57P8Title = J57-P-8 涡喷发动机
		#roRO-J57P8Desc = 50 年代早期的涡喷发动机。J57 是一台"劳模"级发动机，50 年代初设计，装备了 B-52、大部分"百系列"战斗机，甚至包括 U-2。本型为早期 -8 型号，装备 F4D 天光与 F5D 天升。1951 年可用。加力推力 64.5 kN，干推力 45.3 kN。总压比 11.9，静态燃油消耗率 0.90/2.1 lb/lbf-hr。受温度限制，最高工作在马赫 1.5。
		
		//		J85-GE-4
		#roRO-J85GE5Title = J85-GE-5 涡喷发动机
		#roRO-J85GE5Desc = J85 最初作为小型一次性喷气发动机研制，用于驱动诱饵弹与无人机，后经升级用于有人驾驶飞机。它装备了 F-5、CF-5、G.91Y、T-2、T-38 与 A-37 等多种小型飞机。本型为带加力的 -5 型号，装备 F-5A/B"自由战士"。1959 年可用。加力推力 17.1 kN，干推力 11.9 kN。总压比 6.5，静态燃油消耗率 1.03/2.2 lb/lbf-hr。受温度限制，最高工作在马赫 1.6。
		
		//		Model 304-2
		#roRO-model304Title = Model 304-2 涡喷发动机
		#roRO-model304Desc = 50 年代末的涡喷发动机。Model 304-2 以普惠 J57 为基础，是一台液氢燃料涡喷发动机，为"SUNTAN"项目研制——该项目旨在研制 U-2 间谍飞机的高性能后继机。项目要求发展大规模的液氢生产与处理技术，耗资数亿美元，但成果令人瞩目：普惠成功将多种喷气发动机改装为氢燃料，展现出惊人的稳定性与效率。这些成果连同参与项目的众多工程师后来转入普惠 RL-10 的研制工作，所获经验被证明价值连城。然而 Model 304 与 SUNTAN 项目最终被取消，因为使用常规燃料的 A-12/SR-71 显示出更大的潜力。本型为 Model 304-2，是项目取消前研制出的最先进设计。1959 年可用。加力推力 60.1 kN，干推力 32.1 kN。总压比 5.1，静态燃油消耗率 0.38/0.9 lb/lbf-hr。受温度限制，最高工作在马赫 3.0。
		
		//		Olympus 593
		#roRO-Olympus593Title = Olympus 593 Mk.610 涡喷发动机
		#roRO-Olympus593Desc = 60 年代末的涡喷发动机。奥林巴斯（Olympus）涡喷的终极型号，专为协和飞机持续以 2 马赫巡航而设计。虽然在海平面颇为耗油，但与优化得当的进气道匹配后，该发动机能以 2 马赫超音速巡航，效率相对出色。本型为奥林巴斯 593 Mk.610，是所有量产协和飞机使用的型号。1969 年可用。加力推力 169.2 kN，干推力 139.4 kN。总压比 15.5，静态燃油消耗率 0.87/1.39 lb/lbf-hr。受温度限制，最高工作在马赫 3.0。
		
		//		R-11F2
		#roRO-R11FTitle = R-11F2-300 涡喷发动机
		#roRO-R11FDesc = 50 年代末的涡喷发动机。R-11 与较为简陋的 RD-9 并行研制，成为米格-21、雅克-28 与苏-15 的动力装置。本型为早期 F2-300 型号，装备米格-21PF。1960 年可用。加力推力 60.8 kN，干推力 38.3 kN。总压比 8.8，静态燃油消耗率 0.95/2.37 lb/lbf-hr。受温度限制，最高工作在马赫 2.5。
		
		//		R-15BD
		#roRO-R15BDTitle = R-15BD-300 涡喷发动机
		#roRO-R15BDDesc = 50 年代末的涡喷发动机。R-15 最初为图-121 巡航导弹研制，后经修改用于米格-25——有史以来最快的量产战斗机，可达 3.2 马赫，但存在严重损伤发动机的风险。本型为后期 BD-300 型号，用于米格-25RB。1969 年可用。加力推力 109.8 kN，干推力 86.3 kN。总压比 4.75，静态燃油消耗率 1.25/2.75 lb/lbf-hr。受温度限制，最高工作在马赫 3.5。
		
		//		R-25-300
		#roRO-R25FTitle = R-25-300 涡喷发动机
		#roRO-R25FDesc = 60 年代末的涡喷发动机。R-25 是为取代 R-11 与 R-13 而研制，加装了一台极为强劲的"超功率"加力燃烧室，可在短时间内将推力提升近一倍。本型为量产型号，用于米格-21比斯与苏-15比斯。1972 年可用。加力推力 97.1 kN，干推力 40.3 kN。总压比 9.5，静态燃油消耗率 0.96/3.34 lb/lbf-hr。受温度限制，最高工作在马赫 2.5。
		
		//		RD-9B
		#roRO-RD9BTitle = RD-9B 涡喷发动机
		#roRO-RD9BDesc = 50 年代初期的涡喷发动机。RD-9 是米库林 AM-3 的缩比型号，专为战斗机设计，装备了雅克-25/26/27/28 与米格-19。本型为早期 -9B 型号，装备早期米格-19。1951 年可用。加力推力 31.9 kN，干推力 25.1 kN。总压比 7.14，静态燃油消耗率 0.96/1.6 lb/lbf-hr。受温度限制，最高工作在马赫 1.5。
		
		//		Sapphire ASSa.7 Mk.203
		#roRO-Sapphire203Title = Sapphire ASSa.7 Mk.203 涡喷发动机
		#roRO-Sapphire203Desc = 50 年代初期的涡喷发动机。蓝宝石（Sapphire）源自英国首台轴流式喷气发动机梅特罗维克 F.2，装备了霍克"猎人"、汉德利·佩奇"胜利者"与格洛斯特"标枪"。本型为后期 ASSa.7 型号，装备格洛斯特"标枪"FAW Mk.7。1955 年可用。推力 48.9 kN。总压比 7.0，静态燃油消耗率 0.885 lb/lbf-hr。受温度限制，最高工作在马赫 2.0。
	}
}
